<!DOCTYPE html>
<footer class="footer-distributed">
			<div class="footer-left">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Av Carlos Alessandri 1989 </span> Algarrobo, Valparaíso, Chile.</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">pajarrakonotstop@gmail.com</a></p>
				</div>
			</div>
				
			<div class="footer-right">

				<p class="footer-company-about">
					<span>Sobre Pajarrako Not Stop</span>
					Local con más de 15 años de experiencia, excelentes precios y calidad. 
					
				</p>
			</div>
			<div class="footer-center">
			<h3>Pajarrako<span>NotStop</span></h3>
				<p class="footer-links">
					<a href="#">Calidad</a>
					·
					<a href="#">Confianza</a>
					·
					<a href="#">Buenos Precios</a>
				</p>
				<p class="footer-company-name">Desarrollado por Paz Bascuñán&copy; 2016</p>
			</div>
		</footer>
