<!DOCTYPE html>
    <header>
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">Pajarrako Not Stop</h1>
                <h4>No paramos de darte lo mejor</h4>
            </div>
        </div>      
    </header>
   
    <section id="two">
        <div class="container-fluid welcome section-container">
            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-12 welcome-text">
                    <h3>Bienvenidos a</h3>
                    <span class="header-text">Pajarrako Not Stop</span>
                    <p>Por más de 15 años en la localidad de Algarrobo nos hemos destacado por productos indispensables en cada verano, los churros, papas fritas y sandwichs. En Pajarrako Not Stop, creemos firmemente que nuestro servicio es de excelente calidad, nos esmeramos en ofrecerte una experiencia genial con un precio justo, un servicio cálido y veloz. Valoramos tu tiempo y queremos que sigas disfrutando de la mejor playa del litoral. Tendrás una experiencia deliciosa, diferente, práctica y divertida.</p>
                </div>
            <div class="col-md-5 col-sm-5 col-xs-12 welcome-image">
                <div class="col-md-6 col-sm-12 col-xs-6 pull-left"> <%=image_tag("spree/frontend/welcome1.png")%></div>
                <div class="col-md-6 pull-left col-xs-6 welcome2"> <%=image_tag("spree/frontend/welcome2.png")%> </div>
            </div>
            </div>
        </div>
    </section>


<!DOCTYPE html>
    <header>
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">Pajarrako Not Stop</h1>
                <h4>No paramos de darte lo mejor</h4>
            </div>
        </div>      
    </header>
   
    <section id="two">
        <div class="container-fluid welcome section-container">
            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-12 welcome-text">
                    <h3>Bienvenidos a</h3>
                    <span class="header-text">Pajarrako Not Stop</span>
                    <p>Por más de 15 años en la localidad de Algarrobo nos hemos destacado por productos indispensables en cada verano, los churros, papas fritas y sandwichs. En Pajarrako Not Stop, creemos firmemente que nuestro servicio es de excelente calidad, nos esmeramos en ofrecerte una experiencia genial con un precio justo, un servicio cálido y veloz. Valoramos tu tiempo y queremos que sigas disfrutando de la mejor playa del litoral. Tendrás una experiencia deliciosa, diferente, práctica y divertida.</p>
                </div>
            <div class="col-md-5 col-sm-5 col-xs-12 welcome-image">
                <div class="col-md-6 col-sm-12 col-xs-6 pull-left"> <%=image_tag("spree/frontend/welcome1.png")%></div>
                <div class="col-md-6 pull-left col-xs-6 welcome2"> <%=image_tag("spree/frontend/welcome2.png")%> </div>
            </div>
            </div>
        </div>
    </section>


